{% extends "base.html" %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block extra_tab %}
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>
{% endcomment %}
{% endblock %}

{% block footer %}
{{ block.super }}
<section class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 copyright ">
        <div class="module">
          <small>Copyright © 2017 IGAD. All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock footer %}
