{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/igad_base.css" rel="stylesheet"/>
{% endblock %}


{% block extra_tab %}
 
<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Thematic Areas" %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
        {% for menu_root in menu_roots %}
        <li><a href="{% url "hkeyword_view" menu_root.slug %}">{{ menu_root.name }}</a></li>
        {% endfor %}
    </ul>
 </li>

{% for menu, menu_items in extra_menus %}
<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.name }}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
        {% for menu_item in menu_items %}
        <li><a href="{{ menu_item.get_url }}">{{ menu_item.title }}</a></li>
        {% endfor %}
    </ul>
 </li>
{% endfor %}

{% endblock %}

{% block footer %}
{{ block.super }}
<section class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 copyright ">
        <div class="module">
          <small>Copyright © 2017 IGAD. All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock footer %}
