.navbar-brand {
    width: 65px!important;
    margin-right: 2pt;
}

.keywords-container {
    padding: 1pt;
}

.subkeyword {
    display: flex;
    margin: 4px 0;
    width: 100%;
    min-height: 80px;
    padding: 16px 8px;
    color: #fff;
    font-weight: bold;
}

.subkeyword:hover {
    opacity: 0.7;
}

.icon {
    width: 48px;
    margin-right: 4px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.description {
    flex: 1;
    overflow: hidden;
}
