{% extends "search/search.html" %}
{% load base_tags %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}

{% block body_outer %}
  <div class="page-header">
    <h2  style="color: {{ object.meta.color }}">{{ object.meta.title }}</h2>
    {% if object.meta.description %}
    <h5>{{ object.meta.description }}</h5>
    {% endif %}
  </div>
  {% with include_type_filter='true' %}
  {% with header='Type' %}
  {% with filter='type__in' %}
  {% include "igad/_hierarchical_keyword_meta_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endblock %}

