{% load igad_tags %}
<div class="col-xs-12 col-md-6">
        <a href="{% url 'hkeyword_list_contents' subkeyword.hkeyword.slug %}?keywords__slug__in={{ subkeyword.hkeyword.slug }}">
                {% if subkeyword.boxcolor %}
                <div class="subkeyword" style="background-color: {{ subkeyword.boxcolor }};">
                        <div class="description">
                                {{ subkeyword.title }}
                        </div>
                        <div class="icon" style="background-image: url({{ STATIC_URL }}img/icons/{{ subkeyword.icon }});"></div>
                </div>
                {% else %}
                <div class="subkeyword" style="background-color: #0b612d;">
                        <div class="description">
                                {{ subkeyword.title }}
                        </div>
                        <div class="icon" style="background-image: url({{ STATIC_URL }}img/icons/{{ subkeyword.icon }});"></div>
                </div>
                {% endif %}
        </a>
</div>
