{% load igad_tags %}

<div class="col-xs-12 col-md-6">
        <a href="{% searchurl keywords__slug__in=subkeyword.slug %}">
                {% if subkeyword.color %}
                <div class="subkeyword" style="background-color: {{ subkeyword.color }};">
                        <div class="icon" style="background: url({{ subkeyword.meta.icon }});"></div>
                        <div class="description">
                                {{ subkeyword.name }}
                        </div>
                </div>
                {% else %}
                <div class="subkeyword" style="background-color: #0b612d;">
                        <div class="icon" style="background: url({{ subkeyword.meta.icon }});"></div>
                        <div class="description">
                                {{ subkeyword.name }}
                        </div>
                </div>
                {% endif %}
        </a>
</div>
